.isDesktop {
    display: none;

    @media (min-width: 993px) {
        display: block;
    }
}

.isMobile {
    display: block;

    @media (min-width: 993px) {
        display: none;
    }
}

$tablet-breakpoint: 993px;
$sm-tablet-breakpoint: 600px;
$mobile-breakpoint: 768px;

.fixed-mobile-menu {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    height: 75px;
    background-color: #fff;
    box-shadow: 0px -1px 0px 0px rgb(71 84 103 / 20%);

    a {

        i {
            font-size: 20px;
            display: none;

            &:not(.active) {
                display: block;
            }

            &:before {
                color: rgba(152, 162, 179, 1);
            }

            @media (min-width: $sm-tablet-breakpoint) {
                font-size: calc(20px + 25%);
            }
        }

        .txt {
            font-size: 11px;

            @media (min-width: $sm-tablet-breakpoint) {
                font-size: calc(11px + 25%);
            }
        }

        &.active {
            i {
                display: none;

                &.active {
                    display: block;
                }

                &:before {
                    color: var(--primary-color);
                }
            }

            .txt {
                color: var(--primary-color);
                font-weight: 600;
            }
        }
    }
}