.isDesktop {
    display: none;

    @media (min-width: 993px) {
        display: block;
    }
}

.isMobile {
    display: block;

    @media (min-width: 993px) {
        display: none;
    }
}

$tablet-breakpoint: 992px;
$sm-tablet-breakpoint: 600px;
$mobile-breakpoint: 768px;
$tablet-font-percent: 25%;

.fixed-mobile-menu {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    height: 75px;
    background-color: #fff;
    box-shadow: 0px -1px 0px 0px rgb(71 84 103 / 20%);

    a {

        i {
            font-size: 20px;
            display: none;

            &:not(.active) {
                display: block;
            }

            &:before {
                color: rgba(152, 162, 179, 1);
            }

            @media (min-width: $sm-tablet-breakpoint) {
                font-size: calc(20px + $tablet-font-percent);
            }
        }

        .txt {
            font-size: 11px;

            @media (min-width: $sm-tablet-breakpoint) {
                font-size: calc(11px + $tablet-font-percent);
            }
        }

        &.active {
            i {
                display: none;

                &.active {
                    display: block;
                }

                &:before {
                    color: var(--primary-color);
                }
            }

            .txt {
                color: var(--primary-color);
                font-weight: 600;
            }
        }
    }
}


.mobile-card-boxes {
    .card-box {
        position: relative;

        span {
            position: absolute;
            top: 30px;
            left: 0;
            text-align: center;
            width: 100%;
            font-size: 18px;
            color: #fff;

            @media (min-width: $sm-tablet-breakpoint) {
                font-size: calc(20px + $tablet-font-percent);
            }
        }
    }
}

.mobile-search-input {
    padding: 0 15px;
    border-radius: 8px;
    background-color: #fff;

    @media (max-width: $tablet-breakpoint) {
        .search-results-listing {
            width: 100%;
            left: 0;
        }
    }

    .search-item .title {
        width: 100%;
    }
}

.contact-tools {
    @media (max-width: $tablet-breakpoint) {
        bottom: 85px;
        right: auto;
        left: 20px;
        height: 36px;

        &.open {
            height: 130px;
        }

        .circle-icon-container {
            width: 36px;
            height: 36px;

            &.contact-link {

                i {
                    font-size: 18px;
                }
            }
        }

        .socials.open {
            bottom: 40px;
        }
    }

}

.mobile-back-to-top {
    width: 36px;
    height: 36px;
    position: fixed;
    bottom: 85px;
    right: 20px;
    border: 1px solid #8D1A14;
    background-color: #fff;
    z-index: 99;

    i {
        color: #8D1A14;
        font-size: 18px;
    }

    // &:hover {
    //     background-color: #8D1A14;

    //     i {
    //         color: #fff;
    //     }
    // }

    &.show {
        opacity: 1;
        pointer-events: all;
    }

    &.not-allowed {
        opacity: 0;
        pointer-events: none;
    }
}

.all-products-container {
    @media (max-width: $tablet-breakpoint) {
        margin-top: 0;
    }
}

.product-details {
    @media (max-width: $tablet-breakpoint) {
        .empty-state {
            svg {
                width: 200px;
                margin: 0 auto;
            }

            .sub-title {
                margin-top: -15px;
            }
        }
    }
}

.product-card.list-card {
    @media (max-width: $sm-tablet-breakpoint) {
        padding: 10px;

        .badge {
            font-size: 8px;
            margin-bottom: 8px;
            padding: 7px 5px;
            min-height: auto;
        }

        .product-card-title {
            font-size: 12px;
        }

        .sku-number {
            font-size: 10px;
        }

        .product-card-description {
            font-size: 8px;
        }

        .discount,
        .product-card-price {
            font-size: 12px;
        }
    }
}

.add-to-cart {
    @media (max-width: $tablet-breakpoint) {
        .product-card-quantity {
            height: 35px;
            width: calc(100% - 35px);
        }

        .mob-icon {
            min-width: 35px;
            height: 35px;
        }

        .primary-btn {
            padding: 0;
            min-width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media screen and (max-width: 450px) {
        .product-card-quantity {
            input {
                width: 40px;
                font-size: 12px;
            }
        }

        .mob-icon {
            min-width: 28px;
            height: 28px;
        }

        .primary-btn {
            padding: 0;
            min-width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.brands-page {
    .main-title {
        @media (max-width: $tablet-breakpoint) {
            text-align: center;
            font-size: calc(20px + $tablet-font-percent);
        }

        @media (max-width: $sm-tablet-breakpoint) {
            text-align: center;
            font-size: 20px;
        }
    }
}

.add-to-cart-mobile {
    @media (max-width: $tablet-breakpoint) {
        max-width: 200px;
    }

    @media (max-width: $sm-tablet-breakpoint) {
        max-width: 100%;
    }
}

.product-swiper-gallery {
    .mySwiper2 {
        padding: 20px;

        .swiper-slide-prev,
        .swiper-slide-next {
            opacity: 0;
        }
    }
}