.isDesktop {
    display: none;

    @media (min-width: 993px) {
        display: block;
    }
}

.isMobile {
    display: block;

    @media (min-width: 993px) {
        display: none;
    }
}

.fixed-mobile-menu {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 75px;
    background-color: #fff;
    box-shadow: 0px -1px 0px 0px rgb(71 84 103 / 20%);

    a {
        .txt {
            font-size: 11px;
        }
    }
}