.product-details {
    padding: 60px 0;

    .product-description {
        color: #666876;
        margin-bottom: 25px;
        font-size: 12px;
    }

   .details-card .add-to-cart {
        align-items: center;
        display: flex;
        width: 60%;
    }

    .badge.catalog-details {
        font-size: 12px;
        color: #4A4A49;
        font-weight: 700;
        padding: 20px 16px;
        background: #C2C5D233;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var(--primary-color);
            color: #fff;
        }
    }

    .view-more-reviews {
        font-size: 16px;
        margin-top: 30px;
        color: #4a4a49;
        padding: 10px 5px;
        border-radius: 6px;
        background-color: #f5f5f5;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #d9d9d9;
        }
    }

}

.rate-comment-title {
    font-size: 16px;
    color: #424242;
}
#rate-comment,
textarea {
    border-color: #CCD3D9;
    outline: #CCD3D9;
    resize: none;
    font-size: 14px;
    color: #A8B1CE;

    &:focus {
        border-color: #545455;
    }
}

.rate-number {
    font-size: 14px;
    color: #7E818E;
}